* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}
  
body {
    padding: 1rem;
}
  
input {
    background-color: white;
    border-radius: 1rem;
    border: 1px solid rgb(227 227 227);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: black;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    outline: none;
    padding: 1rem 1rem;
    width: calc(100% - 20%);
    max-width: 700px;
    transition: 0.3s;
}

input:hover {
    border: 1px solid rgb(22, 189, 204);
}

input:focus {
    border: 1px solid rgb(2, 100, 109);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(131, 131, 131, 0.3);
    -moz-box-shadow: 2px 5px 10px 0px rgba(131, 131, 131, 0.3);
    box-shadow: 2px 5px 10px 0px rgba(131, 131, 131, 0.3);
}

h1 {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
}
  
h2 {
    font-size: 1.5rem;
}
  
h3 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.logo {
    width: 5rem;
    height: auto;
    display: block;
    margin: 0 auto;
}
  
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

.flex-item {
    align-content: center;
    align-items: center;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.247);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
}

.flex-item img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    max-height: 300px;
    width: 100%;
}

.flex-item p {
    background-color: transparent;
    color: rgb(87, 87, 87);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.delete-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.delete-button {
    background-color: rgb(7, 151, 164);
    border: none;
    border-radius: 1rem;
    color:rgb(240, 240, 240);
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem 1.5rem;
    transition: all 0.2s ease;
}

.delete-button:hover {
    background-color:rgb(2, 100, 109);
    font-weight: bold;
}

.notification-container {
    border: 1px solid rgb(173, 173, 173);
    border-radius: 1rem;
    box-shadow: 4px 4px 7px 1px #9a9a9a75;
    display: block;
    margin: 1rem auto 0;
    max-width: 720px;
    padding: 1rem 2rem;
    width: fit-content;
    transition: all 0.3s ease-in;
}

.notification-container img {
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.notification-title {
    font-size: 1.225rem;
    font-weight: 700;
    letter-spacing: .02rem;
    text-align: center;
}

.notification-subtitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

